.redeem__points__section {
  max-width: 1185px;
  margin: 0 auto;
  position: relative;

  .public_points_card {
    width: 763px;
    height: auto;
    position: relative;
    margin-top: -60px;
    z-index: 1;

    @media (max-width: 1162px) {
      margin-top: 0;
    }
  }

  .get_points {
    position: relative;
    width: 742.2px;
    margin: -150px 0 0 auto;

    @media (max-width: 992px) {
      width: 100%;
      margin: 0 0 0 auto;
    }

    .points_img {
      width: auto;
      height: auto;
    }

    .get_points_detalls {
      width: 444px;
      background: rgba(244, 244, 244, 0.1);
      backdrop-filter: blur(40px);
      border-radius: 10px;
      display: flex;
      align-items: flex-start;
      gap: 23px;
      padding: 23px 34px 27px 33px;
      position: absolute;
      z-index: 1;
      right: 64px;
      bottom: -162px;

      @media (max-width: 768px) {
        width: 256px;
        padding: 16px 14px 19px 16px;
        gap: 14px;
        right: 11px;
        bottom: -83px;
      }

      .star_logo {
        width: 30.27px;
        height: 30.19px;

        @media (max-width: 768px) {
          width: 21px;
          height: 21px;
        }
      }

      .points_categories {
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: -0.01em;
        color: #ffffff;

        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 23px;
        }

        .span-desk {
          font-weight: 600;
        }
        .span-mob {
          @media (max-width: 768px) {
            font-weight: 800;
          }
        }
      }
    }
  }

  .purchase_points {
    margin-top: -75px;

    @media (min-width: 768px) and (max-width: 992px) {
      margin-top: 200px;
    }
    @media (max-width: 768px) {
      margin-top: 120px;
    }

    .points_heading {
      font-weight: 800;
      font-size: 56px;
      line-height: 62px;
      color: #ffffff;
      margin: 0 0 15px;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 46px;
        margin: 0 0 13px;
      }

      > span {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .points_about {
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
  }

  //

  .points_change_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 72px 0 32px;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      gap: 5px;
      margin: 19px 0 24px;
    }

    .change_box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: 992px) {
        flex-direction: row;
        padding: 3px 14px 4px 22px;
        background: #d1460d;
        border-radius: 10px;
        gap: 15px;
        justify-content: space-between;
        width: 100%;
      }

      .change_point_heading {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #ffffff;
        opacity: 0.7;
        margin: 0 0 26px;

        @media (max-width: 992px) {
          width: 80px;
          margin: 0;
        }
      }

      .down_arrow {
        width: 32px;
        height: 16px;
        @media (max-width: 992px) {
          display: none;
        }
      }

      .right_arrow {
        width: 7px;
        height: 14px;
        @media (min-width: 992px) {
          display: none;
        }
      }

      .points_euro {
        display: flex;
        align-items: flex-start;
        gap: 10px;

        @media (max-width: 992px) {
          gap: 3px;
        }

        .euro {
          font-weight: 800;
          font-size: 76px;
          line-height: 104px;
          text-align: center;
          letter-spacing: -0.01em;
          color: #ffffff;
          margin: 0;
        }
        .euro_logo {
          font-weight: 300;
          font-size: 40px;
          line-height: 90px;
          letter-spacing: -0.01em;
          color: #ffffff;
          margin: 0;
        }
      }
    }
  }

  .become_member_text {
    display: flex;
    align-items: center;
    gap: 64px;

    @media (max-width: 768px) {
      gap: 0;
    }

    .member_text {
      width: 830px;
      font-weight: 400;
      font-size: 12px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: #ffffff;
      opacity: 0.7;

      @media (max-width: 768px) {
        opacity: 0.9;
      }
    }
    .member_btn {
      padding: 18px 64px;
      width: 267px;
      flex-shrink: 0;
      background: #ffffff;
      border-radius: 10px;
      border: none;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: #000000;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}
